body {
	font-family: 'Raleway', sans-serif;
}

header {
	display: flex;
}

.container {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo_image {
	padding: 10px;
	cursor: pointer;
}

img.logo {
	background: url("./logo.png");
}

.caixa {
	display: flex;
	align-items: center;
	justify-content: flex-end;	
}

#barra-pesquisa {
	display: flex;
	align-items: center;
	border: none;
	border-radius: 20px;
	padding: 12px;
	width: 400px;
	background: #E5E4E2;
}

.lupa-image {
	display: flex;
	position: absolute;
	padding: 12px;
}

.login {
	width: 150px;
	padding: 15px;
	background: white;
	border-color: #2A7AE4;
	color: #2A7AE4;
	font-size: 15px;
	transition: 1s all;
	cursor: pointer;
}

.login:hover {
	transform:  scale(1.2);
	background: #BFDDF3;
}

.bloco {
	display: flex;
	justify-content: space-between;
}

.banner {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}

.botao {
	position: absolute;
	margin: 250px 150px;
	width: 130px;
	padding: 18px;
	font-size: 15px;
	border: none;
	color: white;
	background: #2A7AE4;
	cursor: pointer;
	transition: 1s all;
}

.botao:hover {
	background: #B3D5E0;
}

.sessao {
	padding: 10px;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-left: 90px;
	margin-right: 90px;
}

.subtitulo {
	display: flex;
	justify-content: space-between;
}

.titulo1 {
	color: rgba(70, 70, 70, 1);
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 0;
}

.titulo2 {
	color: #2A7AE4;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.titulo2:hover {
	text-decoration: underline;
}

.produtos {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
}

p {
	margin-bottom: 20px;
	margin-top: 20px;
} 

.produto-preco {
	font-weight: bold;
}

.abrir-produto{
	color: #2A7AE4;
	font-weight: bold;
	cursor: pointer;
}

li {
	padding: 10px;
}

form {
	background: rgba(234, 242, 253, 1);
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 20px;
	padding: 40px;
}

.paragrafo {
	font-size: 16px;
	cursor: pointer;
}


.fale-conosco {
	display: flex;
	flex-direction: column;
}

legend {
	font-size: 13px;
	font-weight: bold;
	padding: 10px 0;
}

.input-padrao {
	margin-bottom: 10px;
	border: none;
	border-radius: 3px;
	font-size: 11px;
	width: 400px;
}

#nomesobrenome {
	height: 40px;
}

#mensagem {
	height: 50px;
}

.enviar-mensagem {
	width: 120px;
	height: 40px;
	font-size: 12px;
	background: #2A7AE4;
	border: none;
	color: white;
	cursor: pointer;
	transition: 1s all;
}

.enviar-mensagem:hover {
	background: #B3D5E0;
}

footer {
	text-align: center;
	justify-content: center;
	padding: 10px 0;
	font-size: 12px;
	font-weight: bold;
}






